HELP.md
**/target/**
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**
appspec.yml
.vscode/
setup.sh
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache


### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
